body{
    background-image: url(a_tlo.png);
    background-size: 100%;
    color:rgb(106,106,106);
    background-attachment: fixed;
}
p{
    font-size: 55px;
    font-family: 'Times New Roman';
    color:white;
    text-align: center;
    text-shadow:5px 5px 5px rgb(202, 202, 202);
    background-color:#000000;
    width:100%;
}
h1{
    font-size: 25px;
    font-family: 'Times New Roman';
    text-align: justify;
    color:black;
    background-color: rgba(255, 239, 220, 0.39);
}

img{
    border-radius: 30%;
    border-color: black;
    border:5px solid #000;
    width:90%;
}
h2{
    font-size: 40px;
    font-family: 'Times New Roman';
    text-align: justify;
    color:black;
    background-color: rgba(255, 239, 220, 0.632);
    width:28%;
}
h3{
    font-size: 40px;
    font-family: 'Times New Roman';
    text-align: center;
    color:black;
    background-color: rgba(255, 239, 220, 0.632);
    width:75%;
}
h4{
    font-size: 25px;
    font-family: 'Times New Roman';
    text-align: justify;
    color:black;
    background-color: rgba(255, 239, 220, 0.39);
    width:75%;
    direction: right;
}
