p{
    font-size: 55px;
    font-family: 'Times New Roman';
    color:white;
    text-align: center;
    text-shadow:5px 5px 5px rgb(202, 202, 202);
    background-color:#000000;
    width:100%;
}
body{
    background-image: url('a3_tlo.png');
    background-attachment: fixed;
    background-size:100%;
}
h1{
    font-size: 25px;
    font-family: 'Times New Roman';
    text-align: justify;
    color:black;
    background-color: rgba(255, 239, 220, 0.436);
}
