body{
    background-color: rgb(106, 106, 106);
    background-image: url(a.png);
    background-attachment: fixed;
    background-size: 100%;
    opacity: 90%;
    
}
p{
    font-size: 55px;
    font-family: 'Times New Roman';
    color:white;
    text-align: center;
    text-shadow:5px 5px 5px rgb(202, 202, 202);
    background-color:#000000;
    width:100%;
}
section{
    background-color: black;
    width:33%;
    display: inline-block;
}
h2{
    font-family: 'Times New Roman';
    color:white;
    text-align: center;
    text-shadow:5px 5px 5px rgb(202, 202, 202);
}
h1{
    font-family: 'Times New Roman';
    color:white;
    text-shadow:5px 5px 5px rgb(202, 202, 202);
    background-color:rgb(75, 75, 75);
    width:27%;
    font-size:35px;
}
h3{
    font-family: 'Times New Roman';
    color:white;
    text-shadow:5px 5px 5px rgb(202, 202, 202);
    background-color:rgb(75, 75, 75);
    width:40.5%;
    font-size:35px;
}
.a1:hover{
    color: rgb(58, 58, 58);
    cursor:pointer;
}
.a2:hover{
    color: rgb(58, 58, 58);
    cursor:pointer;
}
.a3:hover{
    color: rgb(58, 58, 58);
    cursor:pointer;
}
.b1:hover{
    color: rgb(58, 58, 58);
    cursor:pointer;
}
.b2:hover{
    color: rgb(58, 58, 58);
    cursor:pointer;
}
.b3:hover{
    color: rgb(58, 58, 58);
    cursor:pointer;
}
