body{
    background-color: rgb(106, 106, 106);
    background-image: url(a.png);
    background-attachment: fixed;
}
p{
    font-size: 55px;
    font-family: 'Times New Roman';
    color:white;
    text-align: center;
    text-shadow:5px 5px 5px rgb(202, 202, 202);
    background-color:#000000;
    width:100%;
}
section{
    background-color: black;
    width:30%;
    display: inline-block;
}
h2{
    font-family: 'Times New Roman';
    color:white;
    text-align: center;
    text-shadow:5px 5px 5px rgb(202, 202, 202);
}
h1{
    font-family: 'Times New Roman';
    color:white;
    text-shadow:5px 5px 5px rgb(202, 202, 202);
    background-color:rgb(75, 75, 75);
    width:27%;
}
a1:hover{
    color: rgb(58, 58, 58);
}
a2:hover{
    color: rgb(58, 58, 58);
}
a3:hover{
    color: rgb(58, 58, 58);
}
